name: build
on:
  push:
    branches:
      - main
defaults:
  run:
    # necessary for windows
    shell: bash
env:
  CARGO_TERM_COLOR: always
jobs:
  windows:
    name: windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          key: windows
      - run: cargo build --release --package cli
      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_ENV_1: ${{ secrets.JFROG }}
      - run: |
          jf c use xtec
          jf rt u target/release/box.exe bin/xbox.exe

  linux:
    name: linux
    runs-on: linux-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{matrix.os}}
      - run: rustup target add x86_64-unknown-linux-musl
      - run: sudo apt install -y musl-tools
      - run: cargo build --release --package cli --target x86_64-unknown-linux-musl
      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_ENV_1: ${{ secrets.JFROG }}
      - run: |
          jf c use xtec
          jf rt u target/x86_64-unknown-linux-musl/release/box bin/box
