name: build
on:
  push:
    branches:
      - main
defaults:
  run:
    # necessary for windows
    shell: bash
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            bin: box
          - os: windows-latest
            target: x86_64-pc-windows-msvc 
            bin: box.exe
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-${{matrix.target}}
      - run: rustup target add ${{ matrix.target }}
      - run: |
          if [[ ${{matrix.os}} =~ ^ubuntu.*$ ]]; then
            sudo apt-get install musl-tools libssl-dev
          fi
      - run: cargo build --release --package cli --target ${{ matrix.target }}
      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_ENV_1: ${{ secrets.JFROG }}
      - run: |
          jf c use xtec
          jf rt u target/${{ matrix.target }}/release/${{ matrix.bin }} bin/${{ matrix.bin }}

# https://github.com/nicolas-van/rust-cross-compile-example/blob/main/.github/workflows/rust.yml
#- uses: actions/upload-artifact@v3
      #  with:
      #    path: |
      #      ${{ steps.compile.outputs.BUILT_ARCHIVE }}
      #      ${{ steps.compile.outputs.BUILT_CHECKSUM }}
