name: build
on:
  push:
    branches:
      - main
jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            bin: box
          - os: windows-latest
            bin: vbox.exe
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v3
      # When rustup is updated, it tries to replace its binary, which on Windows is somehow locked.
      # This can result in the CI failure, see: https://github.com/rust-lang/rustup/issues/3029
      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - run: cargo build -r -p cli
      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_ENV_1: ${{ secrets.JFROG }}
      - run: |
          jf c use xtec
          jf rt u target/release/${{ matrix.bin }} bin/${{ matrix.bin }}
