name: build
on:
  push:
    branches:
      - main
jobs:
  build:
    name: build ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-pc-windows-gnu, x86_64-unknown-linux-musl]
    steps:
      - uses: actions/checkout@master
      - uses: rust-build/rust-build.action@v1.4.0
        with:
          RUSTTARGET: ${{ matrix.target }}
          SRC_DIR: cli
          UPLOAD_MODE: none
      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_ENV: ${{ secrets.JFROG }}
      - run: |
          jf c use xtec
          jf rt ping
